  <head>
    <meta charset="utf-8">
    <title>Boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <!-- NB - to use the custom setup below run `npm run css-watch` -->
    <!-- custom tachyons stylesheet link -->
    <link rel="stylesheet" href="/style.min.css"/>
  </head>
